[Unit]
Description=Calibre Content Server
After=network.target

[Service]
Environment=CALIBRE_DBPATH=/var/lib/calibre-web
ExecStart=/home/calibre-web/calibre-web/venv/bin/python3 /opt/calibre-web/cps.py -c /etc/letsencrypt/live/calibre-web.yong-ju.me/fullchain.pem -k /etc/letsencrypt/live/calibre-web.yong-ju.me/privkey.pem
Restart=on-failure
User=calibre-web
Group=calibre-web
StateDirectory=calibre-web
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target