[Unit]
Description=RClone copy timer

[Timer]
Unit=rclone.service
OnBootSec=15m
OnUnitInactiveSec=15m
OnActiveSec=1s

[Install]
WantedBy=timers.target
