[Unit]
Description=RClone mount of users remote calibre-web using filesystem permissions
Documentation=http://rclone.org/docs/
After=network-online.target

[Service]
Type=notify
Environment=REMOTE_NAME="calibre-web"
Environment=REMOTE_PATH="/Documents/Calibre Library"
Environment=MOUNT_DIR="/var/lib/calibre-web/books"
Environment=POST_MOUNT_SCRIPT=""
Environment=RCLONE_CONF="/etc/rclone/rclone.conf"
Environment=RCLONE_TEMP_DIR="/tmp/rclone/calibre-web"
Environment=RCLONE_RC_ON="false"

# Default arguments for rclone mount
Environment=RCLONE_MOUNT_ATTR_TIMEOUT="1s"
Environment=RCLONE_MOUNT_DIR_CACHE_TIME="5m0s"
Environment=RCLONE_MOUNT_DIR_PERMS="0770"
Environment=RCLONE_MOUNT_FILE_PERMS="0660"
Environment=RCLONE_MOUNT_GID="2000"
Environment=RCLONE_MOUNT_MAX_READ_AHEAD="128k"
Environment=RCLONE_MOUNT_POLL_INTERVAL="1m0s"
Environment=RCLONE_MOUNT_UID="2000"
Environment=RCLONE_MOUNT_UMASK="002"
Environment=RCLONE_MOUNT_VFS_CACHE_MAX_AGE="1h0m0s"
Environment=RCLONE_MOUNT_VFS_CACHE_MAX_SIZE="off"
Environment=RCLONE_MOUNT_VFS_CACHE_MODE="full"
Environment=RCLONE_MOUNT_VFS_CACHE_POLL_INTERVAL="1m0s"
Environment=RCLONE_MOUNT_VFS_READ_CHUNK_SIZE="128M"
Environment=RCLONE_MOUNT_VFS_READ_CHUNK_SIZE_LIMIT="off"
# Check that rclone is installed
ExecStartPre=/usr/bin/test -x /usr/bin/rclone
# Check the mount directory
ExecStartPre=/usr/bin/test -d "${MOUNT_DIR}"
ExecStartPre=/usr/bin/test -w "${MOUNT_DIR}"
# Check the rclone configuration file
ExecStartPre=/usr/bin/test -f "${RCLONE_CONF}"
ExecStartPre=/usr/bin/test -r "${RCLONE_CONF}"
# Mount rclone fs
ExecStart=/usr/bin/rclone mount \
                          --config="${RCLONE_CONF}" \
                          --default-permissions \
                          --rc="${RCLONE_RC_ON}" \
                          --allow-non-empty \
                          --cache-tmp-upload-path="${RCLONE_TEMP_DIR}/upload" \
                          --cache-chunk-path="${RCLONE_TEMP_DIR}/chunks" \
                          --cache-workers=8 \
                          --cache-writes \
                          --cache-dir="${RCLONE_TEMP_DIR}/vfs" \
                          --cache-db-path="${RCLONE_TEMP_DIR}/db" \
                          --no-modtime \
                          --drive-use-trash \
                          --stats=0 \
                          --checkers=16 \
                          --bwlimit=40M \
                          --cache-info-age=60m \
                          --attr-timeout="${RCLONE_MOUNT_ATTR_TIMEOUT}" \
                          --dir-cache-time="${RCLONE_MOUNT_DIR_CACHE_TIME}" \
                          --dir-perms="${RCLONE_MOUNT_DIR_PERMS}" \
                          --file-perms="${RCLONE_MOUNT_FILE_PERMS}" \
                          --gid="${RCLONE_MOUNT_GID}" \
                          --max-read-ahead="${RCLONE_MOUNT_MAX_READ_AHEAD}" \
                          --poll-interval="${RCLONE_MOUNT_POLL_INTERVAL}" \
                          --uid="${RCLONE_MOUNT_UID}" \
                          --umask="${RCLONE_MOUNT_UMASK}" \
                          --vfs-cache-max-age="${RCLONE_MOUNT_VFS_CACHE_MAX_AGE}" \
                          --vfs-cache-max-size="${RCLONE_MOUNT_VFS_CACHE_MAX_SIZE}" \
                          --vfs-cache-mode="${RCLONE_MOUNT_VFS_CACHE_MODE}" \
                          --vfs-cache-poll-interval="${RCLONE_MOUNT_VFS_CACHE_POLL_INTERVAL}" \
                          --vfs-read-chunk-size="${RCLONE_MOUNT_VFS_READ_CHUNK_SIZE}" \
                          --vfs-read-chunk-size-limit="${RCLONE_MOUNT_VFS_READ_CHUNK_SIZE_LIMIT}" \
                          "${REMOTE_NAME}:${REMOTE_PATH}" "${MOUNT_DIR}"
# Execute Post Mount Script if specified
ExecStartPost=/usr/bin/sh -c "${POST_MOUNT_SCRIPT}"
# Unmount rclone fs
ExecStop=/usr/bin/fusermount -u "${MOUNT_DIR}"
# Restart info
Restart=always
RestartSec=10

User=calibre-web
Group=calibre-web

[Install]
WantedBy=default.target
