[Unit]
Description=RClone copy
Documentation=http://rclone.org/docs/
After=network-online.target

[Service]
Type=simple
Environment=REMOTE_NAME="calibre-web"
Environment=REMOTE_PATH="/Documents/Calibre Library"
Environment=COPY_DIR="/var/lib/calibre-web/books"
Environment=RCLONE_CONF="/etc/rclone/rclone.conf"
ExecStartPre=/usr/bin/test -f "$RCLONE_CONF"
ExecStartPre=/usr/bin/test -r "$RCLONE_CONF"
ExecStartPre=/usr/bin/test -d "$COPY_DIR"
ExecStart=/usr/bin/rclone copy \
                          --config "$RCLONE_CONF" \
                          --no-traverse \
                          "$COPY_DIR" "${REMOTE_NAME}:${REMOTE_PATH}"
User=calibre-web
Group=calibre-web
